<%- include('partials/head') %>

    <body>
        <%- include('partials/navBar') %>

            <h1>This is <%=name%>
            </h1>
            <ul>
                <li>Height: <%=height%>
                </li>
                <li>Age: <%=age%>
                </li>
            </ul>
            <p>
                <%= description%>
            </p>
    </body>

    </html>